@CHARSET "UTF-8";


/* 메세지  시작 */
input.placeholder{
	color: graytext;
	text-align: center;
}
video{
	
	width: 100%;
	border-radius: 15px;
}

 #divNewGSTL{
 	
	border-radius: 15px;
	/* width: 300px;
	height: 300px; */
} 

#local-Videos-Container{
	
	width: 300px;
	height: 80%;
}
.mdl-dialog__underunder{
	font-size: large;
}
#divNewGSTL{
	
	width: 300px;
	height: 80%;
}


body{
	background: #16a085;
	font-family: sans-serif;
	margin:0px;
	font-size: large;
	
}

.btn-open-or-join-room{
	cursor:pointer;
}
.chat_box, .msg_box{
	
	cursor:pointer;
	position:fixed;
	bottom:0px;
	right:20px;
	background: white;
	width : 250px;
	height : auto;
	border-radius: 5px 5px 0px 0px;
	
}

.chat_head, .msg_head{
	background :#f39c12;
	padding : 15px;
	color : white;
	border-radius: 5px 5px 0px 0px;
	
	
}

.chat_body{
	height: 400px;
	
}

.msg_head{
	
	background: #3498db;
	
}

.msg_body{
	height: 250px; 
	font-size: 12px;
	overflow: auto;
	overflow-x: hidden;
}

.msg_box{
 	background:white;
	width: 250px;
	bottom: -5px; 
}
 
.close{
	width:10px;
	float: right;
	
}
.user{
	padding:20px; 25px;
	position :Relative;
}

.msg_input{
	border: transparent;
	border-top:1px solid #bdc3c7;
	width:100%;
	padding:5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}

.user:HOVER{
	cursor:pointer;
	background: #f8f8f8;
}

.user:before
{
	content:"";
	position:absolute;
	background:#2ecc71;
	width:10px;
	height:10px;
	left:5px;
	top:24px;
	border-radius: 5px;		
	
}

.msg_a{
	margin-top:10px;
	margin-right:20px;
	margin-left:20px;
	min-height:15px;
	padding: 15px;
	background: #99ffcc;
	position: relative;
	border-radius: 5px;
}
.msg_a:BEFORE{
	content:"";
	position:absolute;
	width:0px;
	height: 0px;
	top:7px;
	left:-29px;
	border:15px solid;
	border-color: transparent #99ffcc transparent transparent;
	
}


.msg_b{
	margin-top:10px;
	margin-right:20px;
	margin-left:20px;
	min-height:15px;
	padding: 15px;
	background: #ffff99;
	position: relative;
	border-radius: 5px;
}
.msg_b:BEFORE{
	content:"";
	position:absolute;
	width:0px;
	height: 0px;
	top:7px;
	right:-29px;
	border:15px solid;
	border-color: transparent transparent transparent #ffff99;
	
}
/* 메세지 종료 */

/*리스트 */
.demo-list-three {
  width: 600px;
}
/*리스트 끝*/

.a{
margin: 5% auto;
margin-left: 5%;

}



#viewInho{
	width : 40%;
	height : 60%;
	left: 50%;
	top: 25%;
	}


.centralView{

float:left;
height: 500px;
}

.tts{
	font-size:50px;
	background-color: aqua;
	z-index: 999;
	margin-top: 60px;
}

iframe{
	z-index: -10;
}

.center{
border:1px solid;
float:left;
}
 
 .YouTube-player{
 width: 600px;
  float:left;
  z-index: -10;
 }
 
 .secondView{
 	float:right;

 }
 
 .LeftList{
 clear:left;
 height : 55px;
 
 
 }
 
 .Likes&faceBook{
 
 float: left;
 
 }
 
 .thumbsUp{
 
 float: left;
 width: 50px;
 height: 50px;
 
 }
 
 .recommendCountDiv{
 float: left;
 }
 
 .bookMark{
 float: right;
  width: 50px;
 height: 50px;
 }

 .RightList{
 float: right;
 
 }
 
.LearningList1{

clear: right;
height : 73px;
color: blue;
border:1px solid;
padding-left: 5px;
cursor: pointer; 
}

.LearningList2{

clear:right;
height : 73px;
color:red;
border:1px solid;
padding-left: 5px;
cursor: pointer;
}

.LearningList3{

clear:right;
height : 73px;
color: green;
border:1px solid;
padding-left: 5px;
cursor: pointer;

}

.LearningList4{

clear:right;
height : 73px;
color: yellow;
border:1px solid;
padding-left: 5px;
cursor: pointer;


}


.Voca&Plan{
clear:right;
color : gray;
border:1px solid;

}

.Vocab{

height : 71px;
width: 142px;
color : white;
border:1px solid;
cursor: pointer;
background-color: black;

}

/* .LessonPlan
{
float: left;
height : 55px;
weight : 150px;
color : gray;
border:1px solid;
cursor: pointer;

} */

.KindOfStudy{

clear:left;
padding: 10px;


}

.KindOfStudy_List{
clear:left;
padding-left: 20px;
padding-top: 5px;

}

.demo-list-three mdl-list{
	
	width : 600px;
	
}
.ShowReplyList{
	
padding: 10px;
width: 60%;


}

.ShowReplyLeft{
float: left;

}

.ShowReplyRight{
float: right;
}

.insertReply{
clear: left;
width:600px;
margin-left: 45%;
}

.replyList{
	width:600px;
	display:inline-block;
	clear: left;
	margin-left: 30%;
}
.Watch_the_video{
 background-size: 1px;
}

main {
    margin-left: 1em;
    margin-right: 1em;
}

main > section { margin-bottom: 1em; }

main > section div.framed > div {
    border: 1px solid black;
    margin-bottom: 1ex;
    padding: 1ex;
}

main > section button { padding: 0.5ex 1em; }

main > section input[type="range"] { width: 400px; }

main > section label[for^="YouTube-player-"] { position: absolute; }

main > section textarea {
    height: 9ex;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 99%;
}


.center { text-align: center; }

.margin-left-m { margin-left: 1em; }
.margin-right-m { margin-right: 1em; }

.nowrap { white-space: nowrap; }


#indicator-display {
    background-color: #f0f0f0;
    border-radius: 3ex;
    display: inline-block;
    float: right;
    font-family: monospace;
    height: 2ex;
    line-height: 2ex;
    margin: 1ex 1ex 0 0;
    padding: 1ex;
    text-align: center;
    vertical-align: middle;
    width: 2ex;
}
#YouTube-player-progress{
	width: 80%;
	
}
#YouTube-video-id { font-family: monospace; }


.seek-bar-container{
	height: 10px;
	width: 100%;
	background: #222;
	position: relative;
	z-index: 50;
}

.script-bar{
	position: absolute;
	background-color: yellow;
	height: 10px;
	margin-right: 0%;
	z-index: 100;
}

.seek-crub-container{
	 position: absolute;
	 top: -1px;
	 bottom: -3px;
	 left: 0px;
	 right: 0px;
	 overflow: hidden;
}

.seek-crub{
	position: absolute;
	left: 0;
	top: 0;
	height: 10px;
	width: 10px;
	margin-left: -6px;
	border-radius: 18px;
	border: 2px solid #666;
	background-color: #fff;
	z-index: 200;
}

.speachView{
	visibility: hidden;
}






#info {
	font-size: 20px;
}

#div_start {
	float: right;
}

#headline {
	text-decoration: none
}

#results {
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ddd;
	padding: 15px;
	text-align: left;
	min-height: 150px;
}

#start_button {
	border: 0;
	background-color: transparent;
	padding: 0;
}

.interim {
	color: gray;
}

.final {
	color: black;
	padding-right: 3px;
}

.button {
	display: none;
}

#buttons {
	margin: 10px 0;
	position: relative;
	top: -50px;
}
.Notice{
	font-size: 15px;
}
.mdl-dialog{
	width: 600px;
	height: 800px;
}
