@CHARSET "UTF-8";


.a{
margin: 5% auto;
margin-left: 25%;

}


.centralView{

float:left;

}


.center{
border:1px solid;
float:left;

}
 

 
 .YouTube-player{
  float:left;
 }


 .secondView{
 
 	float:right;
 	/* 
 	width: 400px;
 	height: 300px;
 	border:1px solid;
 	
	 */ 	
 }

 
 .LeftList{
 clear:left;
 height : 55px;
 
 
 }
 
 
 .ViewLikes{
 
 float: left;
 
 }
 
 .ToFaceBook{
 float: right;
 
 }
 
 .RightList{
 float: right;
 
 }
 
 
 
 
.LearningList1{

clear: right;
height : 73px;
color: blue;
border:1px solid;
padding-left: 5px;
cursor: pointer; 
}

.LearningList2{

clear:right;
height : 73px;
color:red;
border:1px solid;
padding-left: 5px;
cursor: pointer;
}

.LearningList3{

clear:right;
height : 73px;
color: green;
border:1px solid;
padding-left: 5px;
cursor: pointer;

}

.LearningList4{

clear:right;
height : 73px;
color: yellow;
border:1px solid;
padding-left: 5px;
cursor: pointer;

}


.Voca&Plan{
clear:right;
color : gray;
border:1px solid;
padding-left: 5px;

}

.VocabQuiz{
float: left;
height : 55px;
weight : 150px;
color : gray;
border:1px solid;
cursor: pointer;

}

.LessonPlan
{
float: left;
height : 55px;
weight : 150px;
color : gray;
border:1px solid;
cursor: pointer;

}

.KindOfStudy{

clear:left;
padding: 10px;


}

.KindOfStudy_List{
clear:left;
padding-left: 20px;
padding-top: 5px;

}


.ShowReplyList{
clear: left;
padding: 10px;

}



.ShowReplyLeft{
float: left;

}

.ShowReplyRight{
float: right;
}


.insertReply{
clear: left;
}

.replyList{
	
	clear: left;
}
.Watch_the_video{
 background-size: 1px;
}



